:root {
  font-family: "Times New Roman", Georgia, Garamond, "Palatino Linotype", serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #070707;
  color: white;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

h1 {
  font-size: 4rem;
  font-weight: 100;
  font-style: italic;
  margin-bottom: .5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 1rem;
}

.work-in-progress {
  font-style: italic;
  font-size: 1rem;
}
